* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: brown;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  background-color: #333;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}
nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

#cart {
  position: relative;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shopping-cart {
  position: fixed;
  width: 30%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #fafafa;
  padding: 20px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto; /* Adiciona a barra de rolagem vertical */
  height: 100vh;
  max-height: 100vh; /* Garante que a altura máxima seja a altura da janela */
  display: flex;
  flex-direction: column;
}


.close-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
  }

  button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: crimson;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
    cursor: pointer;
   }
   
   button:hover::before {
    width: 100%;
   }
}




#filmes-cart {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#checkout {
  justify-self: end;
  border: 2px solid forestgreen ;
}

#checkout:hover {
  background: forestgreen;
  box-shadow: 0 0 30px 5px forestgreen;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  color: #fafafa;
}

.box-movie-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-img-cart {
  position: relative;
  height: 220px;
  width: 160px;
}

.img-cart {
  position: absolute;
  width: 90%;
  height: 200px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-info-filme-cart {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.number-cart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ebb000;
  color: #333;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 900;
}

#menu {
  display: flex;
  gap: 10px;
}

#menu > a  {
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

main {
  width: 80%;
  margin: 25vh auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#list-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-filme {
  background-color: #fafafa;
  width: 325px;
  margin-bottom: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  h2 {
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
  }

}

.img-filme {
  position: relative;
  height: 410px;
}

.img-filme > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 410px;
  border-radius: 20px 20px 0 0;
}

.box-info {
  display: flex;
  padding: 0 20px;
  flex-grow: 1;
  align-items: center;
  gap: 30px;
  
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

.ingresso {
  display: flex;
  align-items: center;
  gap: 10px;
  height: min-content;
}

.comprar {
  position: relative;
  margin: 15px;
  padding: 15px 0;
  border-radius: 7px;
  border: 2px solid #ebb000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #333;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.comprar:hover {
  background: #ebb000;
  box-shadow: 0 0 30px 5px #ebb000;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  color: #fafafa;
}

.comprar:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.comprar::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.comprar:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


.handle-qtde {
  background-color: #fafafa;
  border: 1px dashed #333;
  width: min-content;
  font-weight: 900;
  font-size: 18px;
  width: 33px;
  height: 33px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s ease;
}
.handle-qtde:hover {
  border: none;
  transform: scale(1.1);
}

.finish-purchase {
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 50px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  h1 {
    grid-column: span 2;
  }
}
#container-filme-escolhido {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.box-filme-escolhido {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    max-width: 230px;
  }
}

.box-filme-escolhido > div {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

#imagem-filme-escolhido {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 50px;
}

.div-imagem-movie {
  position: relative;
  height: 250px;
  width: 190px;
}

.imagem-movie {
  position: absolute;
  bottom: 0;
  width: 92%;
  height: 230px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.close-filme {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: unset;
  border-radius: 13px;
  color: #212121;
  background: #e8e8e8;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  z-index: 101;
 }
 
 .close-filme::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: crimson;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .close-filme:hover {
  color: #e8e8e8;
  cursor: pointer;
 }
 
 .close-filme:hover::before {
  width: 100%;
 }

.none {
  display: none;
}